@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu-bold.woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  background: #00000f;
  font-family: Ubuntu-Bold;
  letter-spacing: 2px;
  font-size: 18px;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 5% 95%;
}

#canvas-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: margin-left 0.5s; /* transition effect for when the drawer is opened */
}

#audio-canvas {
  background: #00000f;
  position: absolute;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* --------------- UI CSS BELOW: ---------------  */

a {
  color: inherit;
  text-decoration: none;
}
#sidenav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.sidenav-options {
  color: inherit;
  margin: 0px 10px;
  cursor: pointer;
}
#drawer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 8px 0px 2px 2px rgba(0, 0, 0, 0.2);
  filter: blur(10px);
  background: inherit;
  z-index: -1;
}
#drawer {
  transform: translateX(-400px);
  text-decoration: inherit;
  background: rgba(255, 255, 255, 0.05);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 5% 95%;
  border-radius: 0 30px 30px 0;
}

#closebtn {
  grid-row: 1;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: inherit;
  background: inherit;
}

.range_slider {
  display: flex;
  align-items: center;
}

.text-field {
  font-family: Ubuntu-Bold, sans-serif;
  position: relative;
  background: #fff;
  border-radius: 30px;
  font-size: 15px;
  width: 60%;
  height: 30px;
}

#settings-container {
  display: grid;
  row-gap: 2px;
  grid-template-rows: repeat(auto-fit, 50px);
}

.settings-row {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker-btn {
  margin-left: 3px;
  background: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}
