@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/Ubuntu-Bold.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  background: #00000f;
  font-family: Ubuntu-Bold;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 5% 95%;
}

#canvas-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: margin-left 0.3s; /* transition effect for when the drawer is opened */
}

#audio-canvas {
  background: #00000f;
  position: absolute;
}

/* --------------- UI CSS BELOW: ---------------  */

#drawer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 8px 0px 2px 2px rgba(0, 0, 0, 0.2);
  filter: blur(10px);
  background: inherit;
  z-index: -1;
}
#drawer {
  text-decoration: inherit;
  background: rgba(255, 255, 255, 0.05);
  height: 100%;
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  display: grid;
  grid-template-rows: 10% 90%;
}

#hamburger {
  margin-left: 10px;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  color: inherit;
}

.closed {
  transform: translateX(-300px);
}

#closebtn {
  grid-row: 1;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: inherit;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.range_slider {
  display: flex;
  align-items: center;
}

.text-field {
  font-family: Ubuntu-Bold, sans-serif;
  position: relative;
  background: #fff;
  border-radius: 30px;
  font-size: 15px;
  line-height: 1.2;
}

#settings-container {
  display: grid;
  row-gap: 5px;
  grid-template-rows: repeat(auto-fit, 50px);
}

.settings-row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background: url("../fill-icon.png") no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
