@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu-bold.woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  background: #00000f;
  font-family: Ubuntu-Bold;
  letter-spacing: 2px;
  font-size: 18px;
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 5% 95%;
}

#canvas-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: margin-left 0.5s; /* transition effect for when the drawer is opened */
}

#audio-canvas {
  background: #00000f;
  position: absolute;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}

/* --------------- UI CSS BELOW: ---------------  */

a {
  color: inherit;
  text-decoration: none;
}
#sidenav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.sidenav-options {
  height: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0px 8px;
  margin: 0px 8px;
}

#drawer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 8px 0px 2px 2px rgba(0, 0, 0, 0.2);
  filter: blur(10px);
  background: inherit;
  z-index: -1;
}

.sidenav-options:hover {
  background: rgba(211, 211, 211, 0.5);
  transition: 0.5s;
  border-radius: 5px;
}

#drawer {
  transform: translateX(-320px);
  text-decoration: inherit;
  background: rgba(200, 200, 200, 0.05);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 0 30px 30px 0;
}

#drawer_closebtn {
  justify-content: center;
  font-size: 4vh;
  color: rgba(127, 127, 127, 0.5);
}

#drawer_closebtn:hover {
  color: inherit;
}

.range_slider {
  display: flex;
  align-items: center;
}

.text-field {
  font-family: Ubuntu-Bold, sans-serif;
  position: relative;
  background: #fff;
  border-radius: 30px;
  font-size: 15px;
  width: 60%;
  height: 30px;
}

#settings-container {
  display: grid;
  height: 100%;
  row-gap: 2px;
  grid-template-rows: 8vh repeat(auto-fit, 6vh);
}

.settings-row {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker-btn {
  margin-left: 3px;
  background: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  padding: 0;
  overflow: visible;
}

.tab:hover {
  cursor: pointer;
  background: rgba(127, 127, 127, 0.1);
  transition: 0.5s;
  border-radius: 5px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  overflow: hidden;
  margin: 10px;
  border-radius: 5px;
  color: rgba(127, 127, 127, 0.5);
}

.tab.active {
  background: rgba(127, 127, 127, 0.5);
  border-radius: 5px;
  color: inherit;
}

.tabs-container {
  display: grid;
  width: 100%;
  grid-template-columns: 85% 15%;
}

/* Popup box BEGIN */
.modal_container {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
  color: black;
}

.modal_container .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#shortcuts_menu {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.modal_close {
  cursor: pointer;
  position: absolute;
  top: -1px;
  right: 10px;
  font-size: 30px;
  color: #ccc;
}

.modal_close:hover {
  color: black;
}

.menu-item {
  padding: 15px 0px;
}
/* Popup box BEGIN */

#reset_menu {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

#shortcuts_menu:hover {
  cursor: default;
}

#reset_menu:hover {
  cursor: default;
}

#reset_action_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.reset_button_item {
  width: 100%;
  padding: 15px;
  margin: 0 10px;
  font-size: 16px;
  letter-spacing: 3px;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px 1px;
  border-radius: 5px;
}

.warning {
  padding-bottom: 15px;
  font-size: 12px;
  color: red;
}

#confirm:hover {
  color: white;
  background: rgba(179, 58, 58, 0.9);
  transition: 0.5s;
}

#cancel:hover {
  color: white;
  background: rgb(0, 90, 4, 0.9);
  transition: 0.5s;
}
