#drawer {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 10% 90%;
}

#hamburger {
  margin-left: 10px;
  font-size: 40px;
  cursor: pointer;
  color: aliceblue;
  display: flex;
  justify-content: left;
  align-items: center;
}

#closebtn {
  grid-row: 1;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

#canvas-container {
  transition: margin-left 0.5s;
}

.range_slider {
  display: flex;
  align-items: center;
}
