#drawer {
  height: 100%;
  /* width: 100%; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}

#drawer {
  width: 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#drawer a:hover {
  color: #f1f1f1;
}

#drawer.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  #drawer {
    padding-top: 15px;
  }
  #drawera {
    font-size: 18px;
  }
}
