html, body {
    margin: 0;
    padding: 0;
    background: #00000f
}


#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
   
}

canvas {
  position: absolute;
  z-index: 1;
} 

#audio-data-container {
  /* background: red; */
  width: 200px;
  height: 120px;
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', sans-serif;
} 


#song-name-container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  height: 35%;
  order: 1;
  border: wheat 2px;
  align-items: center;
}

#song-name {
  font-size: 25px;
  margin: 0 auto;
  color: blanchedalmond;
  padding-right: 100%;
}

.animate {
  padding-left: 100%;
  animation: overflow 15s linear infinite;
}

@keyframes overflow {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

#artist-name {
  height: 30%;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  color: blanchedalmond;
  align-items: center;
  order: 2;
  border: wheat 2px;
}

#button-container {
  height: 35%;
  z-index: 3;
  margin: 0 auto;
  display: flex;
  align-items: center;
  order: 3;
}
