html, body {
    margin: 0;
    padding: 0;
    background: #00000f
}


#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
   
}

canvas {
  position: absolute;
  z-index: 1;
} 

#audio-data-container {
  /* background: red; */
  width: 200px;
  height: 150px;
  z-index: 3;
  position: absolute;
  display: grid;
  grid-template-rows: 33% 27% 40%;
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
} 


#song-name-container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

#song-name {
  font-size: 25px;
  margin: 0 auto;
  color: blanchedalmond;
  padding-right: 100%;
}

.animate {
  padding-left: 100%;
  animation: overflow 15s linear infinite;
}

@keyframes overflow {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

#artist-name {
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  color: blanchedalmond;
  align-items: center;
}

#button-container {
  margin: 0 auto;
  /* display: flex;
  align-items: center; */
}

#button {
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.play {
  background: url('./play.png') no-repeat;
}

.pause {
  background: url('./pause.png') no-repeat;
}
